<section id="footer">
    <div class="container-fluid">
        <a href="https://www.instagram.com/bitwise.tone/"><i class="icon-footer fab fa-instagram"></i></a> 
        <i class="icon-footer fab fa-facebook-f"></i>
        <a href="https://dribbble.com/bitwise_Tone"><i class="icon-footer fab fa-dribbble"></i></a> 
        <a href="mailto: bitwise.tone@gmail.com"><i class="icon-footer fas fa-envelope"></i></a>
        <% var now= new Date(); %>
           <% var year= now.getFullYear(); %>
        <p>© Copyright <%= year %> bitwise.Tone </p>
    </div>
</section>
<script src="../../index.js"></script>
</body> 

</html>