<%- include("partials/header-all") -%>

<div id="contact">
        <div class="container-fluid">
                <h1>Need to Contact?</h1>
                <p>Don't Worry, Use Our Service Below!</p>
                
                <a href="https://dribbble.com/bitwise_Tone"><button type="button"
                class="display-button btn btn-signup navbar-button"><i
                class="display-icon fa-2x fab fa-dribbble"></i><span class="contact-text">Dribbble</span></button></a>
                
                
                <a href="https://www.instagram.com/bitwise.tone/"><button type="button"
                class="display-button btn btn-signup navbar-button"><i
                class="display-icon fa-2x fab fa-instagram"></i><span class="contact-text">Instagram</span></button></a>

                <a href="mailto: bitwise.tone@gmail.com"><button type="button"
                        class="display-button btn btn-signup navbar-button"><i
                        class="display-icon fa-2x fas fa-envelope"></i><span class="contact-text">Mail Me!</span></button></a>
                
        </div>
</div>



<%- include("partials/footer") -%>