<%- include("partials/header"); %>

<div class="row">
    <div class="col-lg-6 title">
        <h1 class="big-heading"> Always Simple and Minimalist </h1>
        <a href="/projects"><button type="button" class="btn btn-contact-outline navbar-button" href="#testimonials"><i
                    class="fas fa-tasks fa-fw"></i>Projects</button></a>
        <!--fa-fw buat spacing-->
        <a href="/contact"><button type="button" class="btn btn-signup navbar-button"><i
                    class="fas fa-phone-alt fa-fw"></i>Contact</button></a>
    </div>
    <div class="col-lg-6 image">
        <img class="title-image" src="Image/Tea%20Fall.svg" alt="Tea">
    </div>
</div>

</div>

</section>

<!--    Features-->
<section id="features">
    <div class="container-fluid">
        <div class="row">
            <div class="features-list col-lg-4">
                <i class="icon fas fa-concierge-bell fa-3x"></i>
                <h3 class="feature-title">Easy to Contact</h3>
                <p> Contact with no extra effort</p>
            </div>
            <div class="features-list col-lg-4">
                <i class="icon fas fa-leaf fa-3x"></i>
                <h3 class="feature-title">Minimalist</h3>
                <p> I give you the simplest and minimalist design </p>
            </div>
            <div class="features-list col-lg-4">
                <i class="icon fas fa-dumbbell fa-3x"></i>
                <h3 class="feature-title">Lot of projects</h3>
                <p>I have experienced a lot of projects</p>
            </div>
        </div>
    </div>
</section>

<!--    Testimonials-->

<section id="testimonials">

    <div id="carouselControls" class="carousel slide" data-ride="carousel" data-pause="hover">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2 class="testimonials-text"> Great graphic design service, serve you right!</h2>
                <img class="image-testimonials" src="Image/Lady%20Blonde.svg" alt="">
                <em> Rivera Ajwa, Illustrator</em>
            </div>
            <div class="carousel-item">
                <h2 class="testimonials-text"> Love bitwise.Tone design, simple and lovely!</h2>
                <img class="image-testimonials" src="Image/ladies.svg" alt="">
                <em> Slaulove Velasquez, CEO of Levy.co </em>
            </div>
            <div class="carousel-item">
                <h2 class="testimonials-text"> Worth to waste your money!</h2>
                <img class="image-testimonials" src="Image/Glasses%20Beard%20Man.svg" alt="">
                <em> Boris Hudson, UI/UX Designer</em>
            </div>
            <div class="carousel-item">
                <h2 class="testimonials-text"> Not only design, but also a solution!</h2>
                <img class="image-testimonials" src="Image/Boy.svg" alt="">
                <em> Tiernan Keenan, Gamer</em>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</section>
<!--    Press-->
<section id="press">
    <img class="press-logo" src="Image/let project.svg" alt="press-logo">
    <img class="press-logo" src="Image/levy.co.svg" alt="press-logo">
    <img class="press-logo" src="Image/tel groupinc.svg" alt="press-logo">
</section>

<!--    Price-->
<section id="pricing">
    <h2 class="price-title">Join today, and feel the art</h2>
    <p class="price-subtitle">With minimalist offer you can get!</p>
    <!--Row untuk sejajar-->
    <div class="row">
        <div class="col-lg-4 pricing-column">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Cubism</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-text">Free</h2>
                    <p>Finish work in 1 week</p>
                    <p>1 time revision</p>
                    <p>Limited Contact</p>
                    <a href="/signup"> <button class="btn btn-lg btn-signup-outline" type="button">Sign Up for
                            Free</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pricing-column">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Renaissance</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-text">$10 / proj</h2>
                    <p> Finish work in 5 days</p>
                    <p>3 time revision</p>
                    <p>Unlimited Contact</p>
                    <a href="/signup"><button class="btn btn-lg btn-signup" type="button">Sign Up</button></a>
                </div>
            </div>
        </div>
        <!--            auto matis 2 baris-->
        <div class="col-lg-4 col-md-6  pricing-column">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Expressionism</h3>
                </div>
                <div class="card-body">
                    <h2 class="card-text">$19 / proj</h2>
                    <p> Finish work in 3 days</p>
                    <p>5 time revision</p>
                    <p>Unlimited Contact</p>
                    <a href="/signup"><button class="btn btn-lg btn-signup" type="button">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    Call to Action-->
<section id="cta">
    <div class="container-fluid">
        <h2 class=" cta-title"> Exceed Your Limit, Now!</h2>

        <a href="/signup"><button href="/signup" class="btn btn-lg btn-contact-outline btn-cta" type="button"><i
                    class="fas fa-user-plus fa-fw"></i> Sign Up</button></a>
        <a href="/contact"><button href="/contact" class="btn btn-lg btn-signup btn-cta" type="button"><i
                    class="fas fa-phone-alt fa-fw"></i> Contact </button></a>
    </div>
</section>
<!--    Footer-->
<%- include("partials/footer"); %>