<%- include("partials/header-all") -%> 


<!-- Projects -->
<section id="projects">
    <div class="container-fluid">
        <h1>Check our project out!</h1>
        <p>Best Picked Quality Sample</p>
        <div class="row-projects">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Bowl Soup.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Cat curled up design.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Cactus.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/LadyBug Fix.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Fireworks.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Christmas.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Dog Fix.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Lion Fix.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Only Us.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Snowman Design.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Digital Clock.svg" alt="project" class="img-project">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img src="Image/Cemara.svg" alt="project" class="img-project">
            </div>
            
        </div>
    </div>
</section>


<%- include("partials/footer") -%> 