<%- include("partials/header-all") -%> 

<div id="contact">
        <div class="container-fluid">
                <h1>How About Pricing?</h1>
                <p>Don't Worry, Compare It Yourself!</p>
                <table class="table table-change">
                        <thead class="thead-color">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cubism</th>
                            <th scope="col">Renaissance</th>
                            <th scope="col">Expressionism</th>
                          </tr>
                        </thead>
                        <tbody class="tbody-color">
                          <tr>
                            <th scope="row">Finish Work In</th>
                            <td>7 Days</td>
                            <td>5 Days</td>
                            <td>3 Days</td>
                          </tr>
                          <tr>
                            <th scope="row">Revision</th>
                            <td>1 Times</td>
                            <td>3 Times</td>
                            <td>5 Times</td>
                          </tr>
                          <tr>
                            <th scope="row">Unlimited Contact</th>
                            <td>&#10005</td>
                            <td>&#10003</td>
                            <td>&#10003</td>
                          </tr>
                        </tbody>
                      </table>
        </div>
</div>




<%- include("partials/footer") -%> 